In [21]:
import pandas as pd
from fuzzywuzzy import fuzz
from itertools import product

In [22]:
df1 = pd.read_csv("jugadores.csv")
df2 = pd.read_csv("temporada2020.csv")
df3 = pd.read_csv("temporada2021.csv")
df4 = pd.read_csv("temporada2022.csv")
df5 = pd.read_csv("temporada2023.csv")

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        504 non-null    object
 1   Precio        504 non-null    object
 2   Media         504 non-null    object
 3   Total_puntos  504 non-null    int64
dtypes: int64(1), object(3)
memory usage: 15.9+ KB

In [24]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df1.isna().sum(axis=1)
num_total_filas_con_nan = (num_filas_con_nan > 0).sum()

In [25]:
num_total_filas_con_nan

0

In [26]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df2.isna().sum(axis=1)
num_total_filas_con_nan2 = (num_filas_con_nan > 0).sum()

In [27]:
num_total_filas_con_nan2

0

In [28]:
# Renombrar las columnas en cada DataFrame, excepto la columna "Nombre"
if 'Nombre' in df2.columns:
    df2.columns = ['Nombre'] + ['2020_' + col if col != 'Nombre' else col for col in df2.columns[1:]]

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    509 non-null    object
 1   2020_Equipo               509 non-null    object
 2   2020_Precio               509 non-null    object
 3   2020_Puntos               509 non-null    int64
 4   2020_Partidos             509 non-null    int64
 5   2020_Minutos              509 non-null    int64
 6   2020_Goles                509 non-null    int64
 7   2020_Asistencias          509 non-null    int64
 8   2020_Asistencias sin Gol  509 non-null    int64
 9   2020_Centros              509 non-null    int64
 10  2020_Despejes             509 non-null    int64
 11  2020_Remates              509 non-null    int64
 12  2020_Tiros                509 non-null    int64
 13  2020_Recuperaciones       509 non-null    int64
 14  2020_Perdidas             509 non-null    int64
 15  2020_Penaltis fallados    509 non-null    int64
 16  2020_Goles en contra      509 non-null    int64
 17  2020_Rojas                509 non-null    int64
 18  2020_Paradas              509 non-null    int64
 19  2020_Penaltis cometidos   509 non-null    int64
 20  2020_Amarillas            509 non-null    int64
 21  2020_Seguna Amarilla      509 non-null    int64
 22  2020_Penaltis provocados  509 non-null    int64
 23  2020_Penaltis parados     509 non-null    int64
 24  2020_Goles en PP          509 non-null    int64
dtypes: int64(22), object(3)
memory usage: 99.5+ KB

In [29]:
df2

,Nombre,2020_Equipo,2020_Precio,2020_Puntos,2020_Partidos,2020_Minutos,2020_Goles,2020_Asistencias,2020_Asistencias sin Gol,2020_Centros,...,2020_Penaltis fallados,2020_Goles en contra,2020_Rojas,2020_Paradas,2020_Penaltis cometidos,2020_Amarillas,2020_Seguna Amarilla,2020_Penaltis provocados,2020_Penaltis parados,2020_Goles en PP
0,Oyarzabal,Real Sociedad,35.287.289€,226,33,2824,12,8,9,56,...,2,41,0,0,0,8,0,0,0,0
1,Isak,Real Sociedad,52.297.751€,224,33,2430,11,8,10,52,...,1,24,0,0,0,1,0,1,0,0
2,Correa,Atlético de Madrid,43.708.655€,224,38,2359,17,2,3,6,...,1,22,0,0,0,4,0,3,0,0
3,Modric,Real Madrid,46.689.104€,223,38,2411,9,8,14,6,...,0,14,0,0,0,3,0,0,0,0
4,Griezmann,FC Barcelona,62.497.463€,218,36,2743,5,3,7,18,...,0,23,0,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,Juncà,RC Celta,474857,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
505,Jony Álamo,Elche CF,546326,-1,20,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
506,Lunin,Real Madrid,509298,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
507,Carlos Kevin,SD Huesca,546326,0,38,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
508,Juncà,RC Celta,474866,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df3.isna().sum(axis=1)
num_total_filas_con_nan3 = (num_filas_con_nan > 0).sum()

In [31]:
num_total_filas_con_nan3

0

In [32]:
# Renombrar las columnas en cada DataFrame, excepto la columna "Nombre"
if 'Nombre' in df3.columns:
    df3.columns = ['Nombre'] + ['2021_' + col if col != 'Nombre' else col for col in df3.columns[1:]]


df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    506 non-null    object
 1   2021_Equipo               506 non-null    object
 2   2021_Precio               506 non-null    object
 3   2021_Puntos               506 non-null    int64
 4   2021_Partidos             506 non-null    int64
 5   2021_Minutos              506 non-null    int64
 6   2021_Goles                506 non-null    int64
 7   2021_Asistencias          506 non-null    int64
 8   2021_Asistencias sin Gol  506 non-null    int64
 9   2021_Centros              506 non-null    int64
 10  2021_Despejes             506 non-null    int64
 11  2021_Remates              506 non-null    int64
 12  2021_Tiros                506 non-null    int64
 13  2021_Recuperaciones       506 non-null    int64
 14  2021_Perdidas             506 non-null    int64
 15  2021_Penaltis fallados    506 non-null    int64
 16  2021_Goles en contra      506 non-null    int64
 17  2021_Rojas                506 non-null    int64
 18  2021_Paradas              506 non-null    int64
 19  2021_Penaltis cometidos   506 non-null    int64
 20  2021_Amarillas            506 non-null    int64
 21  2021_Seguna Amarilla      506 non-null    int64
 22  2021_Penaltis provocados  506 non-null    int64
 23  2021_Penaltis parados     506 non-null    int64
 24  2021_Goles en PP          506 non-null    int64
dtypes: int64(22), object(3)
memory usage: 99.0+ KB

In [33]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df4.isna().sum(axis=1)
num_total_filas_con_nan4 = (num_filas_con_nan > 0).sum()

In [34]:
num_total_filas_con_nan4

0

In [35]:
# Renombrar las columnas en cada DataFrame, excepto la columna "Nombre"
if 'Nombre' in df4.columns:
    df4.columns = ['Nombre'] + ['2022_' + col if col != 'Nombre' else col for col in df4.columns[1:]]


df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    501 non-null    object
 1   2022_Equipo               501 non-null    object
 2   2022_Precio               501 non-null    object
 3   2022_Puntos               501 non-null    int64
 4   2022_Partidos             501 non-null    int64
 5   2022_Minutos              501 non-null    int64
 6   2022_Goles                501 non-null    int64
 7   2022_Asistencias          501 non-null    int64
 8   2022_Asistencias sin Gol  501 non-null    int64
 9   2022_Centros              501 non-null    int64
 10  2022_Despejes             501 non-null    int64
 11  2022_Remates              501 non-null    int64
 12  2022_Tiros                501 non-null    int64
 13  2022_Recuperaciones       501 non-null    int64
 14  2022_Perdidas             501 non-null    int64
 15  2022_Penaltis fallados    501 non-null    int64
 16  2022_Goles en contra      501 non-null    int64
 17  2022_Rojas                501 non-null    int64
 18  2022_Paradas              501 non-null    int64
 19  2022_Penaltis cometidos   501 non-null    int64
 20  2022_Amarillas            501 non-null    int64
 21  2022_Seguna Amarilla      501 non-null    int64
 22  2022_Penaltis provocados  501 non-null    int64
 23  2022_Penaltis parados     501 non-null    int64
 24  2022_Goles en PP          501 non-null    int64
dtypes: int64(22), object(3)
memory usage: 98.0+ KB

In [36]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df5.isna().sum(axis=1)
num_total_filas_con_nan5 = (num_filas_con_nan > 0).sum()

In [37]:
num_total_filas_con_nan5

0

In [38]:
# Renombrar las columnas en cada DataFrame, excepto la columna "Nombre"
if 'Nombre' in df5.columns:
    df5.columns = ['Nombre'] + ['2023_' + col if col != 'Nombre' else col for col in df5.columns[1:]]


df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    550 non-null    object
 1   2023_Equipo               550 non-null    object
 2   2023_Precio               550 non-null    object
 3   2023_Puntos               550 non-null    int64
 4   2023_Partidos             550 non-null    int64
 5   2023_Minutos              550 non-null    int64
 6   2023_Goles                550 non-null    int64
 7   2023_Asistencias          550 non-null    int64
 8   2023_Asistencias sin Gol  550 non-null    int64
 9   2023_Centros              550 non-null    int64
 10  2023_Despejes             550 non-null    int64
 11  2023_Remates              550 non-null    int64
 12  2023_Tiros                550 non-null    int64
 13  2023_Recuperaciones       550 non-null    int64
 14  2023_Perdidas             550 non-null    int64
 15  2023_Penaltis fallados    550 non-null    int64
 16  2023_Goles en contra      550 non-null    int64
 17  2023_Rojas                550 non-null    int64
 18  2023_Paradas              550 non-null    int64
 19  2023_Penaltis cometidos   550 non-null    int64
 20  2023_Amarillas            550 non-null    int64
 21  2023_Seguna Amarilla      550 non-null    int64
 22  2023_Penaltis provocados  550 non-null    int64
 23  2023_Penaltis parados     550 non-null    int64
 24  2023_Goles en PP          550 non-null    int64
dtypes: int64(22), object(3)
memory usage: 107.6+ KB

In [39]:
# Suponiendo que tienes tus DataFrames df1, df2, df3, df4 y df5
dataframes = [df1, df2, df3, df4, df5]

# Definir una función para encontrar las coincidencias
def find_matches(df1, df2):
    matches = []
    for row1, row2 in product(df1.iterrows(), df2.iterrows()):
        nombre1 = row1[1]['Nombre']
        nombre2 = row2[1]['Nombre']
        similarity = fuzz.token_sort_ratio(nombre1, nombre2)  # Calcula la similitud entre nombres
        if similarity > 80:  # Establece un umbral de similitud, por ejemplo, 80
            matches.append((row1[0], row2[0]))  # Guarda los índices de las filas que coinciden
    return matches

# Inicializar un DataFrame vacío para almacenar las coincidencias
combinacion = pd.DataFrame()

# Realizar la coincidencia entre cada par de DataFrames
for i, j in product(range(len(dataframes)), range(len(dataframes))):
    if i != j:  # Evitar comparar el mismo DataFrame consigo mismo
        matches = find_matches(dataframes[i], dataframes[j])
        if matches:
            # Fusionar DataFrames que tienen coincidencias en la columna "Nombre"
            temp = pd.merge(dataframes[i], dataframes[j], left_index=True, right_index=True)
            combinacion = pd.concat([combinacion, temp])

# Guardar el resultado en un nuevo archivo CSV
combinacion.to_csv('resultado_combinacion.csv', index=False)
#df_final= pd.read_csv("combinacion")

In [2]:
import fuzzywuzzy 
import csv  
from fuzzywuzzy import process
from fuzzywuzzy import fuzz

# Create a lambda function to calculate the Levenshtein distance
levenshtein_scorer = lambda s1, s2: fuzz.ratio(s1, s2)

# Read the 'season2023.csv' file
season2023_data = []
with open('temporada2023.csv', 'r', newline='') as csvfile:
    csv_reader = csv.reader(csvfile)
    for row in csv_reader:
        season2023_data.append(row)

# Read the 'players.csv' file
players_data = []
with open('jugadores.csv', 'r', newline='') as csvfile:
    csv_reader = csv.reader(csvfile)
    for row in csv_reader:
        players_data.append(row)

# Create a dictionary to map player names from 'season2023.csv' to player names from 'players.csv'
name_map = {}
for season2023_row in season2023_data:
    season2023_name = season2023_row[0]

    # Use FuzzyWuzzy's process.extract to find closest matches in players.csv
    fuzzy_matches = process.extract(season2023_name, [player[0] for player in players_data], scorer=levenshtein_scorer, limit=1)

    # Map the matching player name from players.csv to the original name
    if fuzzy_matches:
        matched_player_name = fuzzy_matches[0][0]
        name_map[season2023_name] = matched_player_name

# Create a new CSV file 'season2023_modified.csv' with the data ordered based on the name order in 'players.csv'
with open('temporada2023_modified.csv', 'w', newline='') as csvfile:
    csv_writer = csv.writer(csvfile)

    # Write the header row
    header = season2023_data[0]
    csv_writer.writerow(header)

    # Write the modified data rows
    players_order = [player[0] for player in players_data]
    for player_name in players_order:
        matching_data = []
        for season2023_row in season2023_data:
            if season2023_row[0] in name_map and name_map[season2023_row[0]] == player_name:
                matching_data.append(season2023_row)

        if matching_data:
            csv_writer.writerow(matching_data[0])