In [95]:
import pandas as pd

In [96]:
df1 = pd.read_csv("jugadores.csv")
df2 = pd.read_csv("temporada2020.csv")
df3 = pd.read_csv("temporada2021.csv")
df4 = pd.read_csv("temporada2022.csv")
df5 = pd.read_csv("temporada2023.csv")

In [97]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        504 non-null    object
 1   Precio        504 non-null    object
 2   Media         504 non-null    object
 3   Total_puntos  504 non-null    int64
dtypes: int64(1), object(3)
memory usage: 15.9+ KB

In [98]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df1.isna().sum(axis=1)
num_total_filas_con_nan = (num_filas_con_nan > 0).sum()

In [99]:
num_total_filas_con_nan

0

In [101]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df2.isna().sum(axis=1)
num_total_filas_con_nan2 = (num_filas_con_nan > 0).sum()

In [102]:
num_total_filas_con_nan2

0

In [153]:
# Renombrar las columnas en cada DataFrame, excepto la columna "Nombre"
df2 = df2.add_prefix('2020_') if 'Nombre' in df2.columns else df2

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   2020_Nombre               509 non-null    object
 1   2020_Equipo               509 non-null    object
 2   2020_Precio               509 non-null    object
 3   2020_Puntos               509 non-null    int64
 4   2020_Partidos             509 non-null    int64
 5   2020_Minutos              509 non-null    int64
 6   2020_Goles                509 non-null    int64
 7   2020_Asistencias          509 non-null    int64
 8   2020_Asistencias sin Gol  509 non-null    int64
 9   2020_Centros              509 non-null    int64
 10  2020_Despejes             509 non-null    int64
 11  2020_Remates              509 non-null    int64
 12  2020_Tiros                509 non-null    int64
 13  2020_Recuperaciones       509 non-null    int64
 14  2020_Perdidas             509 non-null    int64
 15  2020_Penaltis fallados    509 non-null    int64
 16  2020_Goles en contra      509 non-null    int64
 17  2020_Rojas                509 non-null    int64
 18  2020_Paradas              509 non-null    int64
 19  2020_Penaltis cometidos   509 non-null    int64
 20  2020_Amarillas            509 non-null    int64
 21  2020_Seguna Amarilla      509 non-null    int64
 22  2020_Penaltis provocados  509 non-null    int64
 23  2020_Penaltis parados     509 non-null    int64
 24  2020_Goles en PP          509 non-null    int64
dtypes: int64(22), object(3)
memory usage: 99.5+ KB

In [104]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df3.isna().sum(axis=1)
num_total_filas_con_nan3 = (num_filas_con_nan > 0).sum()

In [105]:
num_total_filas_con_nan3

0

In [154]:
# Renombrar las columnas en cada DataFrame, excepto la columna "Nombre"
df3 = df3.add_prefix('2021_') if 'Nombre' in df3.columns else df3

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   2021_Nombre               506 non-null    object
 1   2021_Equipo               506 non-null    object
 2   2021_Precio               506 non-null    object
 3   2021_Puntos               506 non-null    int64
 4   2021_Partidos             506 non-null    int64
 5   2021_Minutos              506 non-null    int64
 6   2021_Goles                506 non-null    int64
 7   2021_Asistencias          506 non-null    int64
 8   2021_Asistencias sin Gol  506 non-null    int64
 9   2021_Centros              506 non-null    int64
 10  2021_Despejes             506 non-null    int64
 11  2021_Remates              506 non-null    int64
 12  2021_Tiros                506 non-null    int64
 13  2021_Recuperaciones       506 non-null    int64
 14  2021_Perdidas             506 non-null    int64
 15  2021_Penaltis fallados    506 non-null    int64
 16  2021_Goles en contra      506 non-null    int64
 17  2021_Rojas                506 non-null    int64
 18  2021_Paradas              506 non-null    int64
 19  2021_Penaltis cometidos   506 non-null    int64
 20  2021_Amarillas            506 non-null    int64
 21  2021_Seguna Amarilla      506 non-null    int64
 22  2021_Penaltis provocados  506 non-null    int64
 23  2021_Penaltis parados     506 non-null    int64
 24  2021_Goles en PP          506 non-null    int64
dtypes: int64(22), object(3)
memory usage: 99.0+ KB

In [107]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df4.isna().sum(axis=1)
num_total_filas_con_nan4 = (num_filas_con_nan > 0).sum()

In [108]:
num_total_filas_con_nan4

0

In [155]:
# Renombrar las columnas en cada DataFrame, excepto la columna "Nombre"
df4 = df4.add_prefix('2022_') if 'Nombre' in df4.columns else df4

df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   2022_Nombre               501 non-null    object
 1   2022_Equipo               501 non-null    object
 2   2022_Precio               501 non-null    object
 3   2022_Puntos               501 non-null    int64
 4   2022_Partidos             501 non-null    int64
 5   2022_Minutos              501 non-null    int64
 6   2022_Goles                501 non-null    int64
 7   2022_Asistencias          501 non-null    int64
 8   2022_Asistencias sin Gol  501 non-null    int64
 9   2022_Centros              501 non-null    int64
 10  2022_Despejes             501 non-null    int64
 11  2022_Remates              501 non-null    int64
 12  2022_Tiros                501 non-null    int64
 13  2022_Recuperaciones       501 non-null    int64
 14  2022_Perdidas             501 non-null    int64
 15  2022_Penaltis fallados    501 non-null    int64
 16  2022_Goles en contra      501 non-null    int64
 17  2022_Rojas                501 non-null    int64
 18  2022_Paradas              501 non-null    int64
 19  2022_Penaltis cometidos   501 non-null    int64
 20  2022_Amarillas            501 non-null    int64
 21  2022_Seguna Amarilla      501 non-null    int64
 22  2022_Penaltis provocados  501 non-null    int64
 23  2022_Penaltis parados     501 non-null    int64
 24  2022_Goles en PP          501 non-null    int64
dtypes: int64(22), object(3)
memory usage: 98.0+ KB

In [110]:
# Suponiendo que df es tu DataFrame
num_filas_con_nan = df5.isna().sum(axis=1)
num_total_filas_con_nan5 = (num_filas_con_nan > 0).sum()

In [111]:
num_total_filas_con_nan5

0

In [156]:
# Renombrar las columnas en cada DataFrame, excepto la columna "Nombre"
df5 = df5.add_prefix('2023_') if 'Nombre' in df5.columns else df5

df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   2023_Nombre               550 non-null    object
 1   2023_Equipo               550 non-null    object
 2   2023_Precio               550 non-null    object
 3   2023_Puntos               550 non-null    int64
 4   2023_Partidos             550 non-null    int64
 5   2023_Minutos              550 non-null    int64
 6   2023_Goles                550 non-null    int64
 7   2023_Asistencias          550 non-null    int64
 8   2023_Asistencias sin Gol  550 non-null    int64
 9   2023_Centros              550 non-null    int64
 10  2023_Despejes             550 non-null    int64
 11  2023_Remates              550 non-null    int64
 12  2023_Tiros                550 non-null    int64
 13  2023_Recuperaciones       550 non-null    int64
 14  2023_Perdidas             550 non-null    int64
 15  2023_Penaltis fallados    550 non-null    int64
 16  2023_Goles en contra      550 non-null    int64
 17  2023_Rojas                550 non-null    int64
 18  2023_Paradas              550 non-null    int64
 19  2023_Penaltis cometidos   550 non-null    int64
 20  2023_Amarillas            550 non-null    int64
 21  2023_Seguna Amarilla      550 non-null    int64
 22  2023_Penaltis provocados  550 non-null    int64
 23  2023_Penaltis parados     550 non-null    int64
 24  2023_Goles en PP          550 non-null    int64
dtypes: int64(22), object(3)
memory usage: 107.6+ KB

In [163]:
# Fusionar DataFrames por nombres similares
merged_df = df1.copy()

for df in dfs:
    try:
        if 'Nombre' in df.columns and 'Nombre' in merged_df.columns:
            for index, row in df.iterrows():
                for index2, row2 in merged_df.iterrows():
                    if len(row2['Nombre']) >= 4 and len(row['Nombre']) >= 4:
                        if row2['Nombre'][-4:] == row['Nombre'][-4:]:
                            merged_df.loc[index2, row.index.difference(['Nombre'])] = row[row.index.difference(['Nombre'])]
    except KeyError:
        pass

# Eliminar filas duplicadas
merged_df = merged_df.drop_duplicates(subset='Nombre')

print(merged_df)

             Nombre        Precio Media  Total_puntos
0      A. Griezmann  ↑ 22.845.000   8,4           109
1     J. Bellingham  ↑ 22.390.000  11,5           138
2    R. Lewandowski  ↓ 21.249.000   5,8            69
3           T. Kubo  ↓ 20.017.000   8,1           105
4         V. Júnior  ↓ 18.945.000   5,4            54
..              ...           ...   ...           ...
499        M. Tejón     ↓ 160.000   0,0             0
500      P. Cuéllar       160.000   0,0             0
501      T. Fuidias       160.000   0,0             0
502       U. García     ↓ 160.000   0,0             0
503          Vitolo       160.000   0,0             0

[497 rows x 4 columns]

In [162]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 497 entries, 0 to 503
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        497 non-null    object
 1   Precio        497 non-null    object
 2   Media         497 non-null    object
 3   Total_puntos  497 non-null    int64
dtypes: int64(1), object(3)
memory usage: 19.4+ KB